name: IDE
services:
  network:
    container_name: network-container
    build:
      context: .
      dockerfile: Dockerfile.network
    env_file:
      - net.prod.env
    ports:
      - "8081:8081"
    working_dir: /app
    environment:
      PYTHONPATH: /app
      PYTHONDONTWRITEBYTECODE: "1"
      WATCHFILES_FORCE_POLLING: "1"
    command: ["bash", "-lc", ". /app/.venv/bin/activate && uvicorn Network.main:app --host 0.0.0.0 --port 8081 --no-access-log"]

  network-dev:
    extends: network
    profiles: ["dev"]
    env_file:
      - net.dev.env
    volumes:
      - ./Network:/app/Network
    command: ["bash", "-lc", ". /app/.venv/bin/activate && uvicorn Network.main:app --host 0.0.0.0 --port 8081 --reload --reload-dir /app/Network --reload-include \"*.py\" --no-access-log"]

  network-prod:
    extends: network
    profiles: ["prod"]
    env_file:
      - net.prod.env
    command: ["bash", "-lc", ". /app/.venv/bin/activate && uvicorn Network.main:app --host 0.0.0.0 --port 8081 --no-access-log"]
